<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-inetcache-cleaner" 
    version="0.0.5" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0">
    
    <name>INetCacheCleaner</name>
    
    <js-module name="INetCacheCleaner" src="www/INetCacheCleaner.js">
        <clobbers target="cordova.plugins.INetCacheCleaner" />
    </js-module>

    <platform name="windows">
        <js-module name="INetCacheCleanerProxy" src="src/windows/INetCacheCleanerProxy.js">
            <runs target="" />
        </js-module>
        <framework src="src/windows/INetCacheCleaner.winmd" custom="true"/>
    </platform>
    
</plugin>
